@charset "UTF-8";
#wpbody-content{
  #field-settings{
    width: 820px;
    table-layout: fixed;
    // table-layout: auto;
    tbody{
      tr{
        th{
          padding-left: 20px;
        }
        td{
          padding-left: 0;
          padding-right: 0;
        }
        &:first-child{
          th{
            padding-left: 0;
          }
        }
      }
    }
  }
  .link-doc{
    margin-top: 20px;
    a{
      display: inline-block;
      text-decoration: none;
      dl{
        width: 100%;
        display: table;
        margin: 0;
        dt, dd{
          display: table-cell;
          vertical-align: middle;
        }
        dt{
          width: 18px;
          img{
            display: block;
          }
        }
        dd{
          padding-left: 8px;
        }
      }
    }
  }
  section#list {
    margin-top: 70px;
  }
  .acorddion {
    overflow: hidden;
    margin: 10px 0 0;
    transition: all 0.3s linear;
    dt {
      background: #fff;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
      cursor: pointer;
      width: 100%;
      display: table;
      table-layout: fixed;
      padding-right: 46px;
      box-sizing: border-box;
      position: relative;
      &:after{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 1px solid #999;
        border-right: 1px solid #999;
        transform: rotate(135deg);
        position: absolute;
        right: 18px;
        top: 50%;
        margin-top: -7px;
        transition: all .3s linear;
      }
      span {
        display: table-cell;
        vertical-align: top;
        padding: 10px;
        &.ss2db_logo {
          width: 25px;
          border-right: 1px solid #eee;
          background: url(../images/ss_logo.png) no-repeat center center;
          background-size: 20px;
        }
        &.ss2db_id {
          width: 30px;
          text-align: center;
          color: #999;
          border-right: 1px solid #eee;
        }
        &.ss2db_title {
          width: 100%;
          border-right: 1px solid #eee;
        }
        &.ss2db_date {
          width: 145px;
          padding: 0;
          border-right: 1px solid #eee;
          .inner {
            padding: 10px 10px 10px 20px;
            @media only screen and (max-width: 782px) {
              padding-left: 10px;
            }
            color: #999;
            font-size: 10px;
          }
        }
				&.ss2db_delete {
          width: 30px;
          border-right: 1px solid #eee;
          text-align: center;
          &:after {
          	content: "";
          	display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            background: url(../images/trash.svg) no-repeat center center;
            background-size: 15px;
          }
          &.disable {
            &:after {
              opacity: 0.3;
            }
          }
				}
      }
    }
    dd {
      display: none;
      margin: 0;
      padding: 1em 0;
      font-size: 10px;

			table {
				table-layout:fixed;
				width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: #fff;
  			th,
  			tr,
  			td {
          border-collapse: collapse;
          border-spacing: 0;
  				vertical-align: middle;
          margin: 0;
          padding: 0;
          border: 1px solid #eee;
  			}
  			th, td {
  				span {
            display: table-cell;
            padding: 5px 10px;
          }
  			}
        th {
  				text-align: center;
          width: 8.5%;
          span {
            display: inline;
          }
  			}
        table {
          border: none;
          th, tr, td {
            border-top: none;
            border-left: none;
          }
          tr {
            border-right: none;
            td {
              &:last-child {
                border-right: none;
                border-bottom: none;
              }
            }
            &:last-child {
              border-bottom: none;
              th {
                border-bottom: none;
              }
            }
          }
        }
			}
    }

    &.opened {
      dt {
        &:after{
          transform: rotate(-45deg);
          top: 65%;
        }
      }
    }

    &.hidden {
      height: 0;
      margin: 0;
    }
  }
}

.select2 {
  font-size: 11px;
}
